__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
tests/
.git
.gitignore
*.md
data_clearning
data/data_clearning
data/input
data/labels/test
data/labels/train
data/labels/valid
data/labels/README.*

data/models/yolov8m.pt
data/models/yolov8s.pt
data/models/yolov5s.pt
data/models/yolov5mu.pt
data/models/yolov5su.pt
data/output
data/upload
mlruns
runs/detect/pallet_model
runs/detect/pallet_model3
runs/detect/pallet_model4
runs/detect/pallet_model5
runs/detect/pallet_model6
