[flake8]
max-line-length = 100
ignore = 
    E203,
    W503,
    E501,
    F403,
    F405

exclude = 
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    build,
    dist,
    data/models,
    runs,
    .mypy_cache,
    .pytest_cache

show-source = true
count = true
exit-zero = false
